* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
  font-size: 18px;
}

.hide {
  display: none;
}

header {
  font-style: italic;
  font-size: 35px;
  font-weight: 900;
}

.slider {
  font-family: cursive;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 2px 5px orange, 2px 3px 5px black, 3px 4px 15px black;
}

.list {
  display: flex;
  margin: 5px;
  border: 3px solid black;
}

#standings-buttons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
  margin: 10px;
}

@media (max-width: 670px) {
  header .brand-logo {
    font-size: 18px;
  }
  p {
    font-size: 15px;
    text-align: justify;
  }
  #standings-buttons {
    grid-template-columns: repeat(2, auto);
  }
}
